<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 启动注解驱动的spring mvc 功能,包扫描下加了controller，service等注解的会注入成bean -->
    <mvc:annotation-driven />

    <mvc:interceptors>
        <bean class="com.cq.common.HttpInterceptor" />
    </mvc:interceptors>

    <!-- 启动包扫描功能 -->
    <context:component-scan base-package="com.cq.controller" />
    <context:component-scan base-package="com.cq.service" />

    <mvc:resources location="/js/" mapping="/js/**"/>
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/bootstrap3.3.5/" mapping="/bootstrap3.3.5/**"/>
    <mvc:resources location="/assets/" mapping="/assets/**"/>
    <!--<mvc:resources location="/ztree/" mapping="/ztree/**"/>-->

    <!-- 注入自定义spring mvc全局异常处理 -->
    <bean class="com.cq.common.SpringExceptionResolver" />
    <!--注入自定义获取spring上下文bean-->
    <bean class="com.cq.common.ApplicationContextHelper" />

    <!-- 请求返回时json数据时用这个处理 -->
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"  />

    <!--不配置返回jsonview会报错，回去访问/WEB-INF/views/jsonView.jsp页面，而不是返回json数据-->
    <!--BeanNameViewResolver 解析器: 使用视图的名字来解析视图,自定义视图可进行配置-->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />

    <!-- 请求返回时jsp页面时用这个处理 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>