<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.alibaba.com/schema/stat"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd">

    <!-- 启动注解驱动的spring mvc 功能,包扫描下加了controller，service等注解的会注入成bean -->
    <mvc:annotation-driven />

    <!-- 启动包扫描功能 -->
    <context:component-scan base-package="com.cq.controller" />
    <context:component-scan base-package="com.cq.service" />

    <!-- 请求返回时json数据时用这个处理 -->
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"  />

    <!-- 请求返回时jsp页面时用这个处理 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>